@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.body_contanier {
  @apply lg:px-[75px]  md:px-[50px] px-5;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.ourWorkTitle {
  @apply text-[90px]  md:text-[150px] xl:text-[280px] lg:text-[200px] mobileM:text-[80px] mobileS:text-[60px] font-bebasneue leading-none;
}
.smP {
  @apply lg:pt-20 pt-16;
}
.mdP {
  @apply lg:pt-36 md:pt-20 pt-20;
}
.lgP {
  @apply lg:pt-40 pt-24;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.6s ease forwards;
}
.heroTitle {
  @apply font-bebasneue leading-none mobileM:text-[65px] mobileL:text-[80px]  md:text-[140px] xl:text-[270px] lg:text-[200px] mobileS:text-[50px];
}
.heroSubTitle {
  @apply font-Rockybilly text-yellow-400 text-[20px] mobileM:text-[14px]  md:text-[30px] xl:text-[60px] lg:text-[40px] mobileS:text-[14px];
}
.BigheroSubTitle {
  @apply font-Rockybilly text-yellow-400 mobileL:text-[30px]  mobileM:text-[25px]  md:text-[30px] xl:text-[60px] lg:text-[40px] mobileS:text-[20px];
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
